* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 2rem;
  margin: 0 auto;
  user-select: none;
  max-width: 1800px;
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;
}
